/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/*@import url('./reset.css');*/

:root {
  /* remove or overwrite */
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --typography-0: #FFFFFF;
  --typography-1: #18181A;
  --typography-2: #1B191B;
  --typography-3: #73818E;
  --typography-4: #008BB5;

  /* overwrote basic colors */
  --ifm-navbar-link-hover-color: #008BB5;
  --ifm-menu-color-active: #008BB5;
  --ifm-breadcrumb-color-active: #008BB5;
  --ifm-color-primary: #008BB5;


  --footer-background: #F4F7FA;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}
