.button {
    background-color: #009DC4;
    padding: 12px 24px;
    border: none;
    color: var(--typography-0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #00678C;
}

.button:active {
    background-color: #004969;
}
