.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header {
    padding-top: 188px;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 68px;
}

.title {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    max-width: 1081px;
    width: 100%;
    margin-bottom: 24px;
    color: var(--typography-2);
}

.subtitle {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 48px;
    color: var(--typography-2);
}

.subtitle > span {
    font-weight: 800;
}

.appInterfaces {
    width: 100%;
    display: flex;
    justify-content: center;
}

.appInterfaces > img {
    max-width: 928px;
    width: 100%;
}